#mainDiv{
    min-width: 310px;
}
#nav-bar{
    margin-left: -12px;
    width: 100%;
}
#navBrand {
font-family: serif;
}

#emailForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

#email{
    width:25%;
}
.margin10{
    margin: 10px 10px 10px 10px;
}

.pointHeaderPlusIcon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}
#video{
    display:flex;
    justify-content: center;
    margin-top: 75px;
}

@media (max-width: 335px) { 
    #brandName {
        margin-bottom: 100px;
    }
}
@media (max-width: 860px){
    #email{
        width:50%;
    }
}
@media (max-width: 768px){
    #testUl{
        margin-right: -200px;
    }
}
.priceBox{
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 10px 75px 10px;
}

.priceHeading{
    background-color: #9F675C;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 5px 0px 10px 0px;
}
#footerDiv{
    border-color: black;
    border-style: solid;
}
.margin5{
margin: 5px;
}
#links{
    background-color: #9F675C;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #9F675C;
  }
  .navbar a {
    float: right;
    display: block;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
#testUl{
    margin-left: -200px;
}

